:root {
  --color-dark: #212529;
  --color-light: #f8f9fa;
  --color-primary: #0d6efd;
  --color-primary-alpha-80: rgba(13, 110, 253, 0.8);
  --color-gray-500: #adb5bd;
  --color-gray-500-alpha-80: rgba(173, 181, 189, 0.8);
  --color-gray-800: #343a40;
  --color-cyan: #0dcaf0;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}
